body{ 
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
background: url("./img/cities.gif"); 

}
.ccc{
    margin-top: 100px;
    color: blueviolet; 
    
}
#sss{
    display: flex; 
    justify-content: space-evenly; 
    margin: 50px; 
} 
#ww h2 {
    margin-left: 40% ; 
    margin-top: 50px ;
}
#dd h3 {
    margin-top: 50px ;
    margin-left: 40% ;
}
#qqq{
    margin-top: 30px;
}
#qqq img {
  max-height: 500px;
  max-width: 1450px ;
} 
#zz { 
    margin-left: 40%; 
}
.carousel-inner {
    height: 60vh !important;
    margin-left: 15px; 

}
#yy{
    margin-left: 30px;
    margin-right: 30px; 
 
}
#yy ul li a{ 
    padding-left: 50px ; 
    padding-right: 50px;
}
.carousel-inner  h5 p {
    font-size: 40px;
}

 
 


